body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:lightskyblue;
}

.registration-form {
  background-color: #fff;
  width: 500px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 20px ;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.registration-form:hover {
  transform: scale(1.02);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color:purple;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
/* input[type="checkbox"], */
select {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid pink;
  border-radius: 4px;
  transition: border-color 0.2s;
}


input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  border-color: #336699;
}

input[type="submit"] {
  background-color:palevioletred;
  color: #fff;
  border: 20px;
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  
}

input[type="submit"]:hover {
  background-color: #5588aa;
}
